<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- STDOUT: Outputs log information to the standard output/console -->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] %-5p: %d{yyy/MM/dd HH:mm:ss.SSS} %C{1} %L - %m%n"/>
        </layout>
    </appender>
    <appender name="log.dbus-tools" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/dbus-tools.log"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="MaxFileSize" value="20MB"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] %-5p: %d{yyy/MM/dd HH:mm:ss.SSS} %C{1} %L - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="ERROR"/>
        </filter>
    </appender>
    <root>
        <priority value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="log.dbus-tools"/>
    </root>
</log4j:configuration>
