<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creditease.dbus.ws.mapper.AvroSchemaMapper">
    <resultMap id="avroSchema" type="com.creditease.dbus.ws.domain.AvroSchema">
        <id property="id" column="id"/>
        <result property="dsId" column="ds_id"/>
        <result property="dsName" column="ds_name"/>
        <result property="namespace" column="namespace"/>
        <result property="schemaName" column="schema_name"/>
        <result property="fullName" column="full_name"/>
        <result property="schemaHash" column="schema_hash"/>
        <result property="schemaText" column="schema_text"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="search" resultMap="avroSchema">
        select s.*, ds.ds_name from t_avro_schema s, t_dbus_datasource ds where s.ds_id = ds.id
        <if test="dsId != null"> and s.ds_id = #{dsId}</if>
        <if test="schemaName != null"> and s.namespace = #{schemaName}</if>
        <if test="text != null"> and s.schema_text like "%"#{text}"%"</if>
    </select>
</mapper>