<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.creditease.dbus.ws.mapper.DesensitizationMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    <!--
        根据id查询得到一个user对象
     -->

    <resultMap id="desensitizationInformation" type="com.creditease.dbus.ws.domain.DesensitizationInformation">
        <id property="id" column="id"/>
        <result property="tableId" column="table_id"/>
        <result property="fieldName" column="field_name"/>
        <result property="encodeType" column="encode_type"/>
        <result property="encodeParam" column="encode_param"/>
        <result property="desc" column="desc_"/>
        <result property="truncate" column="truncate"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getDesensitizationInformation" resultMap="desensitizationInformation">
        select * from t_encode_columns where table_id=#{tableId}
    </select>

    <update id="updateDesensitizationInformation">
        update t_encode_columns set
        encode_type = #{encodeType},
        encode_param = #{encodeParam},
        truncate = #{truncate},
        update_time = #{updateTime}
        where id = #{id}
    </update>

    <delete id="deleteDesensitizationInformation">
        DELETE FROM t_encode_columns WHERE id = #{id}
    </delete>

    <insert id="insertDesensitizationInformation">
        insert into t_encode_columns
        ( table_id,   field_name,  encode_type,   encode_param,  truncate, update_time) values(
         #{tableId},#{fieldName},#{encodeType},#{encodeParam},#{truncate},#{updateTime})
    </insert>


</mapper>