<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creditease.dbus.ws.mapper.TableVersionColumnMapper">

    <resultMap id="tableVersionColumn" type="com.creditease.dbus.ws.domain.TableVersionColumn">
        <id property="id" column="id"/>
        <result property="columnName" column="column_name"/>
        <result property="dataType" column="data_type"/>
        <result property="dataLength" column="data_length"/>
        <result property="dataScale" column="data_scale"/>
    </resultMap>

    <select id="getVersionColumnDetail" resultMap="tableVersionColumn">
        SELECT id, column_name, data_type, data_length, data_scale FROM t_table_meta where ver_id=#{verId} order by column_name;
    </select>

</mapper>