<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creditease.dbus.ws.mapper.TableVersionMapper">

    <resultMap id="version" type="com.creditease.dbus.ws.domain.TableVersion">
        <id property="id" column="id"/>
        <result property="dsId" column="ds_id"/>
        <result property="tableId" column="table_id"/>
        <result property="dbName" column="db_ame"/>
        <result property="schemaName" column="schema_name"/>
        <result property="tableName" column="table_name"/>
        <result property="version" column="version"/>
        <result property="innerVersion" column="inner_version"/>
        <result property="eventOffset" column="event_offset"/>
        <result property="eventPos" column="event_pos"/>
        <result property="updateTime" column="update_time"/>
        <result property="comments" column="comments"/>
    </resultMap>

    <select id="findById" resultMap="version">
        select * from t_meta_version where id = #{id}
    </select>

    <select id="getVersionListByTableId" resultMap="version">
        select id, version, inner_version, update_time, comments from t_meta_version where table_id = #{tableId} ORDER BY update_time DESC
    </select>

    <update id="update">
        update t_meta_version set
        <if test="tableId != null">table_id = #{tableId},</if>
        <if test="dsId != null">ds_id = #{dsId},</if>
        <if test="dbName != null">db_name = #{dbName},</if>
        <if test="schemaName != null">schemaName = #{schemaName},</if>
        <if test="tableName != null">table_name = #{tableName},</if>
        <if test="version != null">version = #{version},</if>
        <if test="innerVersion != null">inner_version = #{innerVersion},</if>
        <if test="eventOffset != null">event_offset = #{eventOffset},</if>
        <if test="eventPos != null">event_pos = #{eventPos}</if>
        update_time = current_timestamp()
        where id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into t_meta_version
        (table_id,
        ds_id,
        db_name,
        schema_name,
        table_name,
        version,
        inner_version,
        event_offset,
        event_pos,
        update_time)
        values
        (#{tableId},
        #{dsId},
        #{dbName},
        #{schemaName},
        #{tableName},
        #{version},
        #{innerVersion},
        #{eventOffset},
        #{eventPos},
        current_timestamp())
    </insert>

</mapper>