body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f9 !important;
    webkit-font-smoothing: antialiased;
    overflow-y: auto;
    overflow-x:hidden;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/** navbar */

.App .navbar {
    border-radius: 0px !important;
    border-bottom: 1px solid #191e23;
    background: #2c3742;
    background: -moz-linear-gradient(top, #2c3742 0%, #28303a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c3742), color-stop(100%, #28303a));
    background: -webkit-linear-gradient(top, #2c3742 0%, #28303a 100%);
    background: -o-linear-gradient(top, #2c3742 0%, #28303a 100%);
    background: -ms-linear-gradient(top, #2c3742 0%, #28303a 100%);
    background: linear-gradient(to bottom, #2c3742 0%, #28303a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2c3742', endColorstr='#28303a', GradientType=0);
}

.App .navbar>.container {
    padding: 0;
    margin: 0 15px;
    width: auto !important;
}

.App .navbar-brand {
    color: orange !important;
}

.App .nav>li>.search {
    width: 220px;
}

.App .nav>li>a {
    border-left: 1px solid #101417;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(214, 214, 214);
    outline: 0px;
    transition: background .1s linear;
    -moz-transition: background .1s linear;
    -webkit-transition: background .1s linear;
    -o-transition: background .1s linear;
}

.App .nav>li>a:hover {
    background: rgba(25, 31, 36, 0.6) !important;
    color: inherit;
    outline: 0px;
}

.navbar-inverse input.search {
    background: url("../img/lens.png") #0f1217 no-repeat 95%;
    border: 1px solid #0f1217;
    position: relative;
    border-radius: 4px;
    padding: 3px 6px;
    color: #ddd;
    font-size: 13px;
    margin-right: 40px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.navbar-inverse input.search:focus {
    background-color: #fff;
    color: #000;
}

input.search {
    background: url("../img/lens.png") #fcfcfc no-repeat 95%;
    box-shadow: none;
    height: 27px;
    font-size: 13px;
    padding: 2px 6px;
    border: 1px solid #d0dde9;
    margin: 0;
    border-radius: 2px;
    top: 11px;
}

input[type="text"], input[type="password"], textarea {
    font-size: 13px;
    -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
    outline: 0px !important;
}


/* =================Sidebar===================================================== */

#sidebar-nav {
    position: absolute;
    width: 200px;
    float: left;
    margin: -20px 0 0 0;
    padding: 0;
}

#dashboard-menu {
    list-style: none;
    padding-right: 15px;
    padding-left: 0px;
    margin-bottom: 0;
    margin-left: 0px;
}

#dashboard-menu>li>a {
    display: block;
    margin-left: 15px;
    padding: 19px 0 15px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    color: rgb(110, 130, 155);
    outline: 0px;
    white-space: nowrap;
    text-decoration: none !important;
    text-align: left;
}

#dashboard-menu>li {
    position: relative;
    text-align: center;
}


/* font awesome icon */

#dashboard-menu>li .icon-group {
    font-size: 22px;
}

#dashboard-menu .pointer {
    position: absolute;
    right: 9px;
    top: 18px;
}

#dashboard-menu .inactive>.pointer {
    display: none;
}

#dashboard-menu .pointer .arrow, #dashboard-menu .pointer .arrow_border {
    border-color: transparent #fff transparent transparent;
    border-width: 11px;
    border-style: solid;
    font-size: 0;
    left: 50%;
    line-height: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1002;
    left: 0;
    margin-left: 45%;
}

#dashboard-menu .pointer .arrow_border {
    border-color: transparent rgb(192, 210, 221) transparent transparent;
    border-width: 11px;
    margin-left: -1px;
    border-style: solid;
    z-index: 1001;
    top: 0px;
}

#dashboard-menu a span {
    margin-left: 10px;
    transition: color .1s linear;
    -moz-transition: color .1s linear;
    -webkit-transition: color .1s linear;
    -o-transition: color .1s linear;
}

#dashboard-menu a.ui-elements span {
    margin-left: 25px;
}

#dashboard-menu a i {
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    opacity: 0.7;
    transition: opacity .1s ease;
    -moz-transition: opacity .1s ease;
    -webkit-transition: opacity .1s ease;
    -o-transition: opacity .1s ease;
}

#dashboard-menu a i.icon-chevron-down {
    position: relative;
    float: right;
    top: 5px;
    font-size: 11px;
    color: rgb(104, 104, 104);
    width: initial;
    height: initial;
}

#dashboard-menu>li:hover i {
    opacity: 1;
}

#dashboard-menu>li.active>a, #dashboard-menu>li>a:hover {
    color: rgba(51, 69, 90, 1);
    text-decoration: none;
}

#dashboard-menu>li.active a {
    font-weight: 600;
    text-shadow: 1px 1px 1px #fff;
}

#dashboard-menu>li.active i {
    opacity: 1;
}


/* sidebar submenus */
#dashboard-menu>li.active .dropdown-toggle {
    border-bottom: 0px;
    box-shadow: none;
}

#dashboard-menu ul.submenu {
    list-style-type: none;
    display: none;
    margin-top: 7px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: -15px;
    padding-left: 15px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    padding-bottom: 10px;
}

#dashboard-menu ul.submenu.active {
    display: block;
}

#dashboard-menu ul.submenu a {
    font-weight: normal;
    font-size: 13px;
    color: rgb(76, 83, 90);
    text-decoration: none;
    display: block;
    margin-bottom: 7px;
}

#dashboard-menu ul.submenu a:hover {
    text-decoration: underline;
}

#dashboard-menu ul.submenu a.active {
    font-weight: bold;
    text-shadow: none;
}

#pad-wrapper {
    padding: 0px 25px;
    margin-top: 55px;
}

#pad-wrapper h4 {
    margin: 0 0 0 20px;
    color: #696d73;
    font-style: italic;
}

.content {
    min-width: 400px;
    /*min-height: 1000px;*/
    margin-top: -20px;
    margin-bottom: -20px;
    padding-bottom: 50px;
    overflow: visible;
    background: #fff;
    margin-left: 197px;
    border-left: 1px solid #dae3e9;
    border-bottom: 1px solid #dae3e9;
    box-shadow: -3px 3px 3px -2px #f1f1f3;
    border-radius: 0px;
    padding: 10px;
}

.login {
    min-width: 400px;
    min-height: 700px;
    margin-top: -20px;
    margin-bottom: 0;
    padding-bottom: 50px;
    overflow: hidden;
    background: #fff;
    border-left: 1px solid #dae3e9;
    border-bottom: 1px solid #dae3e9;
    box-shadow: -3px 3px 3px -2px #f1f1f3;
    border-radius: 0px;
    padding: 10px;
}

.content.wide-content {
    margin-left: 0;
    border-radius: 0;
}
.cell {
    height: 100%;
}

.selectCell {
    position: relative;

}
.selectCell a {
    position: absolute;
    height: 99%;
    top: 0;
    right: 0;
    cursor: pointer;
    border-left: solid 1px #ddd;
    background: #f7f7f9;
    width:30px;
}
.selectCell a>div {
    position: absolute;
    margin-top:-50%;
    top:50%;
    left:25%;
}
.selectCell a:hover {
    color: #333;
    background-color: #d4d4d4;
    text-decoration: none;
}

.btn-cell .btn-toolbar {
    margin-top: -5px;
}

#monitor>iframe {
    border:none;
}

.btn-cell {
    overflow: visible;
}

.btn-span {
    width: 10px;
    height: 10px;
    padding-left: 15px;
    border-right-width: 10px;
    border-top-width: 20px;
}

.btn-info {
    margin-top: 10px;
}
.panel-top {
    margin-top: 20px;
}
.btn-cell>.ant-btn {
    margin-left: 5px;
    padding: 0 8px;
}
.btn-cell>.ant-btn:first-child {
    margin-left: 0px !important;
}

.form {
    color:#333;
    padding-bottom: 5px;
}

.form .form-label {
    width: 30%;
    min-width: 100px;
    line-height: 30px;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}
.row .row-height {
    margin-top: 10px;
}

.form .control {
    display: inline-block;
}
.form .control-no-padding {
    width: 100%;
    height: 34px;
    padding: 0px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form .control-height {
    height:27px;
}

.form .control-width {
    width:27px;
}
.form .same-width{
    width:100%;
}
