
.header h4 {
    color: #696d73;
    font-style: italic;
}
.table-frame {
    /*padding-top:20px;*/
}
.table-frame .header {
    /*margin-bottom: 34px;*/
    color: #737f8d;
}

.table-frame .header .search {
    width: 200px;
    font-size: 12px;
}
.table-frame .header .elements>* {
    margin-right:15px;

}
.table-frame .header .title-text {
    margin-top:6px;
    display: inline-block;
}

.table-frame .btn-sm {
    padding: 3px 10px;
}
.table-frame .btn-next {
    padding: 5px 20px;
}
.table-frame .btn-scriptShow {
    padding: 5px 20px;
}
.table-frame .btn-scriptHide {
    padding: 5px 20px;
    display: none;
}
.hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top:solid #bbb;
}
.table-frame .table-body {
    /*height: 392px;*/
}

.table-frame .table-body .fixedDataTableCellLayout_wrap1 {
    width: 100%;
}

.table-frame .table-body .public_fixedDataTableCell_cellContent {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}
.table-frame .table-body .public_fixedDataTableCell_cellContent {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

.table-frame .table-body .fixedDataTableRowLayout_rowWrapper:last-child {
    border-bottom: none;
}
.table-frame .table-body .table-options {
    text-align: right;
    padding-bottom: 15px;
}
.table-frame .table-body .table-options>* {
    margin-left:15px;
}

.step-4-table-left {
    margin-left: 0px;
}

.ui-select {
    margin-left: 0px !important;
    vertical-align: middle;
    min-width: 100px;
    height: 27px;
    cursor: pointer;
    min-height: 27px !important;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    background: url("../img/select-bg.png"), -moz-linear-gradient(top, #ffffff 0%, #f0f1f2 100%);
    background: url("../img/select-bg.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f1f2));
    background: url("../img/select-bg.png"), -webkit-linear-gradient(top, #ffffff 0%,#f0f1f2 100%);
    background: url("../img/select-bg.png"), -o-linear-gradient(top, #ffffff 0%,#f0f1f2 100%);
    background: url("../img/select-bg.png"), -ms-linear-gradient(top, #ffffff 0%,#f0f1f2 100%);
    background: url("../img/select-bg.png"), linear-gradient(to bottom, #ffffff 0%,#f0f1f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f1f2',GradientType=0 );
    display: inline-block;
    border: 1px solid #cfdde8;
    border-radius: 3px;
    background-position: 94%;
    background-repeat: no-repeat;
}

.ui-select-long-width {
    width: 350px;
}


.ui-select select {
     line-height: inherit;
     width: 135%;
     font-family: "Open Sans", Arial;
     font-size: 12px;
     border: none;
     padding: 1px 30px 0px 7px;
     height: 27px;
     line-height: 20px;
     -webkit-appearance: none;
     color: #737f8d;
     text-shadow: 1px 1px 1px #fff;
     background: transparent;
     outline: 0px;
     cursor: pointer;
 }

.ui-select-long-width select {
    width: 100%
}
.step-cursor ul, li {
    list-style: none;
    padding: 0;
    matgin: 0;
}
.step-cursor li {
    display: inline-block;
}
.step-cursor a {
    display: inline-block;
    width: 40px;
    height:40px;
    background-image: url("../img/u82.png");
}
.step-cursor a.active{
    background-image: url("../img/u80.png");
}
.step-cursor a.finished {
    background-image: url("../img/u76.png");
}
.step-cursor .cursor {
    padding:0;
    margin:0;
    width: 112px;
    height:40px;
    display: inline-block;
    background: url("../img/u98.png") no-repeat 5px 9px;
}
.step-cursor ul>li:last-child .cursor {
    display: none;
}
.jsoneditor-poweredBy {
    display: none !important;
}
div.jsoneditor {
    border-color: #245580 !important;
    border-radius: 5px;
}
div.jsoneditor-menu {
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
}

.loading {
    top: 200px !important;
    font-size: 18px;
}

.ant-table-row-custom-td > td {
    max-width: 1000px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ant-table-long-td-min-width {
    min-width: 96px;
}
.ant-table-short-td-min-width {
    min-width: 32px;
}

.ant-input-group-wrapper {
    width: auto;
}
