<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creditease.dbus.domain.mapper.DataSchemaMapper">
  <resultMap id="BaseResultMap" type="com.creditease.dbus.domain.model.DataSchema">
    <id property="id" column="id"/>
    <id property="dsId" column="ds_id"/>
    <result property="dsType" column="ds_type"/>
    <result property="dsName" column="ds_name"/>
    <result property="schemaName" column="schema_name"/>
    <result property="status" column="status"/>
    <result property="srcTopic" column="src_topic"/>
    <result property="targetTopic" column="target_topic"/>
    <result property="createTime" column="create_time"/>
    <result property="description" column="description"/>
  </resultMap>

  <select id="searchSchemaAndDs" parameterType="java.util.Map" resultType="java.util.Map">
    select s.*, ds.ds_name ,ds.ds_type from t_data_schema s, t_dbus_datasource ds where s.ds_id = ds.id
    <if test="dsId != null"> and s.ds_id = #{dsId}</if>
    <if test="schemaName != null"> and s.schema_name like "%"#{schemaName}"%" </if>
    order by s.create_time desc
  </select>

  <select id="searchSchema" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from t_data_schema, t_dbus_datasource where t_data_schema.ds_id = t_dbus_datasource.id
    <if test="schemaId != null"> and id = #{schemaId}</if>
    <if test="dsId != null"> and ds_id = #{dsId}</if>
    <if test="schemaName != null"> and schema_name like "%"#{schemaName}"%" </if>
  </select>

  <!--插入DataSchema信息-->
  <insert id="insert">
    insert into t_data_schema
    (ds_id,
    schema_name,
    status,
    src_topic,
    target_topic,
    create_time,
    description)
    values
    (#{dsId},
    #{schemaName},
    #{status},
    #{srcTopic},
    #{targetTopic},
    current_timestamp(),
    #{description})

    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>
  <!--更新DataSchema信息-->
  <update id="update">
    update t_data_schema set
    <if test="dsId != 0">ds_id = #{dsId},</if>
    <if test="schemaName != null">schema_name = #{schemaName},</if>
    <if test="status != null">status = #{status},</if>
    <if test="srcTopic  != null">src_topic = #{srcTopic},</if>
    <if test="targetTopic != null">target_topic = #{targetTopic},</if>
    <if test="description != null">description = #{description},</if>
    create_time = current_timestamp()
    where ds_id =#{dsId} and schema_name = #{schemaName}
  </update>
  <delete id="deleteBySchemaId">
    delete ts,tt,tc,tv,tm from t_data_schema ts
    left join t_data_tables tt on ts.id = tt.schema_id
    left join t_encode_columns tc on tt.id=tc.table_id
    left join t_meta_version tv on tt.id = tv.table_id
    left join t_table_meta tm on tv.id = tm.ver_id
    where ts.id = #{id}
  </delete>
  <!--改变DataSchema状态-->
  <update id="updateSchemaStatusByPrimaryKey">
    update t_data_schema ts
    left join  t_data_tables tt on ts.id = tt.schema_id
    set ts.status=#{status} , tt.status =#{status}  where ts.id = #{id}
  </update>
  <select id="selectById" resultMap="BaseResultMap">
    select d.ds_type,d.ds_name,s.* from t_data_schema s,t_dbus_datasource d where s.ds_id = d.id and s.id = #{id}
  </select>
  <select id="findByDsIdAndSchemaName" resultMap="BaseResultMap">
    select s.*, ds.ds_name ,ds.ds_type
    from t_data_schema s, t_dbus_datasource ds
    where s.ds_id = ds.id
      and s.ds_id = #{dsId}
      and s.schema_name = #{schemaName}
    order by s.create_time desc
  </select>
  <update id="inactiveSchemaByDsId" parameterType="java.lang.Integer">
    update t_data_schema s set s.status='inactive' where s.ds_id = #{dsId}
  </update>
</mapper>