<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creditease.dbus.domain.mapper.DesensitizationInformationMapper">
  <resultMap id="BaseResultMap" type="com.creditease.dbus.domain.model.DesensitizationInformation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="table_id" jdbcType="INTEGER" property="tableId" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="plugin_id" jdbcType="INTEGER" property="pluginId" />
    <result column="encode_type" jdbcType="VARCHAR" property="encodeType" />
    <result column="encode_param" jdbcType="VARCHAR" property="encodeParam" />
    <result column="desc_" jdbcType="VARCHAR" property="desc" />
    <result column="truncate" jdbcType="INTEGER" property="truncate" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_dba_encode_columns
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.creditease.dbus.domain.model.DesensitizationInformation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_dba_encode_columns (table_id, field_name, plugin_id, encode_type,
      encode_param, desc_, truncate,
      update_time)
    values (#{tableId,jdbcType=INTEGER}, #{fieldName,jdbcType=VARCHAR}, #{pluginId,jdbcType=INTEGER}, #{encodeType,jdbcType=VARCHAR},
      #{encodeParam,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{truncate,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.creditease.dbus.domain.model.DesensitizationInformation">
    update t_dba_encode_columns
    set table_id = #{tableId,jdbcType=INTEGER},
      field_name = #{fieldName,jdbcType=VARCHAR},
      plugin_id = #{pluginId,jdbcType=INTEGER},
      encode_type = #{encodeType,jdbcType=VARCHAR},
      encode_param = #{encodeParam,jdbcType=VARCHAR},
      desc_ = #{desc,jdbcType=VARCHAR},
      truncate = #{truncate,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, table_id, field_name, plugin_id, encode_type, encode_param, desc_, truncate, update_time
    from t_dba_encode_columns
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, table_id, field_name, plugin_id, encode_type, encode_param, desc_, truncate, update_time
    from t_dba_encode_columns
  </select>
  <select id="getDesensitizationInfoByTableId" resultMap="BaseResultMap">
    select * from t_dba_encode_columns where table_id=#{tableId}
  </select>
</mapper>